.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
  
.header{
    display: flex;
    justify-content: start;
    gap: 45px;
    height: 72px;
    padding-left: 30px;
    align-items: center;
    font-family: sans-serif;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background-color: white;
    width: 100%;
    box-shadow: black 0px 2px 5px;
    flex-wrap: wrap;
    
}
.logo{
    height: 50px;
    width: 180px;
}
body{
    margin: 0px;
    font-family: montserrat;
}
a{
    text-decoration: none;
}
.link{
    font-size: 15px;
    color: rgb(85, 85, 85);
    padding-bottom: 21px;
}
.link:hover{
    border-bottom: #0064A6 solid 8px;
    transition: 0.2s;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image{
    height: 750px;
    width: 100%;
    object-fit: cover;
}
.info-box{
    position: relative;
    bottom: 50px;
    width: 1200px;
    background-color: white;
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    box-shadow: 0px -3px 0px rgb(39, 139, 106);
}
.green-text{
    color: rgb(39, 139, 106);
}
.info-text{
    width: 63%;
    text-align: center;
    line-height: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    height: 370px;
}
.card1{
    color: #DE6328;
    text-align: center;
    font-size: 15px;
    width: 321px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.card2{
    color: #AD1644;
    text-align: center;
    font-size: 15px;
    width: 321px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.card3{
    color: #009B90;
    text-align: center;
    font-size: 15px;
    width: 321px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border-bottom1{
    height: 4px;
    background-color: #DE6328;
    width: 290px;
    transition: 0.3s ease;
}
.border-bottom2{
    height: 4px;
    background-color:#AD1644;
    width: 290px;
    transition: 0.3s ease;
}
.border-bottom3{
    height: 4px;
    background-color:#009B90;
    width: 290px;
    transition: 0.3s ease;
}
.hiding-text{
    transform: scale(0);
    transition: 0.5s;
    height: 0px;
    transition: 0.3s ease;
    color: gray;
    padding: 0px;
}

.card3:hover .hiding-text{
    transform: scale(1);
    height: 100%;
}

.card2:hover .hiding-text{
    transform: scale(1);
    height: 100%;
}

.card1:hover .hiding-text{
    transform: scale(1);
    height: 100%;
}
.card1:hover .border-bottom1{
    transform: translateY(20px);
}
.card2:hover .border-bottom2{
    transform: translateY(20px);
}
.card3:hover .border-bottom3{
    transform: translateY(20px);
}
.card1:hover{
    cursor: pointer;
    height: fit-content;
}
.card2:hover{
    cursor: pointer;
    height: fit-content;
}
.card3:hover{
    cursor: pointer;
    height: fit-content;
}
.article-header{
    color: #009B90;
    margin-top: 80px;
    
}
.grid{
    width: 1200px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-gap: 30px;
    
}
.article-img{
    width: 370px;
    height: 340px;
    box-sizing: border-box;
}

.article{
    position: relative;
}
.article-text{
    height: 80px;
    width: 370px;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(85, 85, 85);
    position: absolute;
    top: 240px;
    color: white;
    z-index: 9999;
    transition: 0.5s;
    background: rgb(0,0,0, 0.5);
}
.article:hover .article-text{
    transform: translateY(-200px);
    background: none;
    
}
.article:hover{
    cursor: pointer;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, black 98%);
    transition: .5s ease;
}
.article:hover .overlay{
    height: 100%;    
}
.background-footer{
    background: url("images/background-footer.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}
.footer{
    margin: auto;
    margin-top: 100px;
    display: flex;
    gap: 100px;
    width: 1200px;
    height: 300px;
    color: white;
    align-items: start;
   
}
.footer-cont{
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 15px;
    margin-top: 50px;
}
.footer-cont h2{
    border-bottom: gray 2px solid;
    padding-bottom: 10px;
    font-size: 20px;
}

.button{
    border-radius: 50px;
    height: 50px;
    border: white 2px solid;
    color: white;
    background-color: transparent;
    width: fit-content;
    padding: 10px 25px;
}
.register{
    width: 300px;
}
#spec-cont{
    display: flex;
   justify-content: space-between;
    align-items: space-between;
}
.icon{
    background-color: #0063A6;
    height: 50px;
    width: 50px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    
}
.button:hover{
    box-shadow: 0 0 0 4px gray;
    cursor: pointer;
}
.icon:hover{
    cursor: pointer;
    background-color: #ffffff;
    transition: 0.3s;
}
.footer-logo{
    margin-top: 50px;
    width: 198px;
    
}
.end-text{
    width: 1200px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    gap: 50px;
    margin: auto;
}
.end-text p{
    margin-top: 60px;
}
